<!-- <p>check</p>
<p class="check">{{ hotels }}</p>
<div class="hotel">
  <div *ngFor="let data of hotels" class="hotelcard">
    <div *ngFor="let data1 of data.entities">
      <div class="card" style="width: 18rem">
        <img src="./" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ data1.caption }}</h5>
          <p class="card-text">all ok</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ data1.destinationId }}</li>
          <li class="list-group-item">{{ data1.geoId }}</li>
          <li class="list-group-item">{{ data1.name }}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
