<div class="Background">
  <form class="box-form box-flight">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">From</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">To</label>
        <input type="text" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">Date</label>
        <input type="date" class="form-control" />
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Choose class</label>
        <select id="inputState" class="form-control">
          <option selected>Business class</option>
          <option>First class</option>
          <option>Economy class</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Check me out </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
